@import 'tailwindcss';

@theme {
	--font-sans: 'Outfit', system-ui, sans-serif;
	--font-serif: 'Vollkorn', ui-serif, serif;
	--font-mono: 'Roboto Mono', ui-monospace, monospace;

	--color-primary: #3d7dd2;
	--color-primary-50: #f1f7fd;
	--color-primary-100: #dfeefa;
	--color-primary-200: #c7e1f6;
	--color-primary-300: #a0cff0;
	--color-primary-400: #73b5e7;
	--color-primary-500: #5298df;
	--color-primary-600: #3d7dd2;
	--color-primary-700: #3469c1;
	--color-primary-800: #30579d;
	--color-primary-900: #2c4a7c;
	--color-primary-950: #1f2e4c;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark;
	root: ':root';
	exclude: [ 'status'];
}

@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: #ffffff;
	--color-base-200: #f6f7fb;
	--color-base-300: #f1f0fb;
	--color-base-content: #000000;
	--color-primary: #3d7dd2;
	--color-primary-content: oklch(93% 0.034 272.788);
	--color-secondary: #00b5b4;
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(76% 0.188 70.08);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: #0f1023;
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(93% 0.032 255.585);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(69% 0.17 162.48);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'dark';
	default: false;
	prefersdark: false;
	color-scheme: 'dark';
	--color-base-100: #393b51;
	--color-base-200: #2b2d43;
	--color-base-300: #0f1023;
	--color-base-content: #ffffff;
	--color-primary: #3d7dd2;
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary: oklch(39% 0.195 277.366);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(50% 0.213 27.518);
	--color-accent-content: #ffffff;
	--color-neutral: #4e5168;
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(70% 0.165 254.624);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(72% 0.219 149.579);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(90% 0.182 98.111);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

/* TipTap */
.ProseMirror:focus {
	outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}